@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap');

body {
  background-color: #151515 !important;
  font-family: 'Akshar', sans-serif !important;
  color: #fff !important;
}
.btn-secondary:active,
.btn-secondary.dropdown-toggle:focus,
.btn-secondary.dropdown-toggle,
.btn-secondary:focus,
.btn-secondary:focus {
  border: unset !important;
  background-color: unset !important;
  box-shadow: unset !important;
}
.scroller::-webkit-scrollbar {
  width: 8px;
}
.scroller::-webkit-scrollbar-track {
  background: unset;
}
.scroller::-webkit-scrollbar-thumb {
  background: #1D9BF0FF;
  border-right: unset;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: unset;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1D9BF0FF;
}
.modalTweet textarea::-webkit-scrollbar {
  width: 4px;
}

/*BtnLoading anim*/
.lds-dual-ring {
  display: inline-block;
  width: 25px;
  height: 25px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  margin-top: 3px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

/* BtnCross */
.btnCrossSign:after {
  content: "";
  display: block;
  background-color: #151515;
  width: 17px;
  height: 2px;
  transform: rotate(45deg);
}
.btnCrossSign:before {
  position: relative;
  top: 2px;
  content: "";
  display: block;
  background-color: #151515;
  width: 17px;
  height: 2px;
  transform: rotate(-45deg);
}
.btnCross:after {
  content: "";
  display: block;
  background-color: #fff;
  width: 17px;
  height: 2px;
  transform: rotate(45deg);
}
.btnCross:before {
  position: relative;
  top: 2px;
  content: "";
  display: block;
  background-color: #fff;
  width: 17px;
  height: 2px;
  transform: rotate(-45deg);
}