@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Akshar', sans-serif;
}
.containerLeft {
    position: relative;
    background-color: #646464;
    height: 100vh;
}
.containerRight {
    position: relative;
    background-color: #151515;
    height: 100vh;
}
.containerRight h2 {
    color: #fff;
    font-size: 1.8em;
    margin-top: 25%;
    margin-left: 50px;
}

.authImg {
    width: 100%;
    height: 100%;
}
.authSvg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    fill: #fff;
    width: 255px;
    height: 255px;
}

.formSignIn {
    color: #fff;
    margin-left: 50px;
    margin-top: 25px;
    width: 400px;
}
.formSignIn button, .formSignIn input {
    border-radius: 25px;
}
.formSignIn span {
    margin-left: 15px;
    margin-top: 10px;
}
.errorSpan {
    color: #e82929;
}
.formSignIn button {
    margin-top: 15px;
}
.checkboxInput {
    margin-left: 15px;
    margin-top: 10px;
}

.divSignUp {
    margin-top: 75px;
    margin-left: 50px;
    color: #fff;
}
.divSignUp p {
    font-weight: 500;
    line-height: 15px;
    width: 200px;
    margin-left: 15px;
}
.divSignUp button {
    width: 350px;
    border-radius: 25px;
}

.formSignUp button {
    margin-top: 15px;
}
.modal-footer .btnCancel {
    font-size: 1.1em;
    font-weight: 400;
}
.formSignUp span {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 5px;
}
.modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.modalTitle {
    font-size: 1.5em;
}

.lds-dual-ring {
    display: inline-block;
    width: 25px;
    height: 25px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    margin-top: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}